/**
 * Created by army8735 on 2017/8/10.
 */

.cp-author-type-1,.cp-author-type-2,.cp-author-type-54{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(ge.png) no-repeat center;
  background-size:contain;
}
.cp-author-type-43,.cp-author-type-44,.cp-author-type-45,.cp-author-type-46,.cp-author-type-47,.cp-author-type-48,.cp-author-type-49{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(wen.png) no-repeat center;
  background-size:contain;
}
.cp-author-type-7,.cp-author-type-10,.cp-author-type-11,.cp-author-type-12{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(qu.png) no-repeat center;
  background-size:contain;
}
.cp-author-type-8,.cp-author-type-13,.cp-author-type-14,.cp-author-type-16,.cp-author-type-17,.cp-author-type-18,.cp-author-type-19{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(hun.png) no-repeat center;
  background-size:contain;
}
.cp-author-type-20,.cp-author-type-28,.cp-author-type-29,.cp-author-type-30,.cp-author-type-31,.cp-author-type-32,.cp-author-type-33,.cp-author-type-34,.cp-author-type-35,.cp-author-type-41,.cp-author-type-42{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(she.png) no-repeat center;
  background-size:contain;
}
.cp-author-type-tu{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(tu.png) no-repeat center;
  background-size:contain;
}
.cp-author-type-yue{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(yue.png) no-repeat center;
  background-size:contain;
}
.cp-author-type-50,.cp-author-type-51,.cp-author-type-52,.cp-author-type-53,.cp-author-type-55,.cp-author-type-56,.cp-author-type-57{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(ce.png) no-repeat center;
  background-size:contain;
}
.cp-author-type-21,.cp-author-type-22,.cp-author-type-23,.cp-author-type-24,.cp-author-type-25,.cp-author-type-26,.cp-author-type-27,.cp-author-type-36,.cp-author-type-37,.cp-author-type-38,.cp-author-type-39,.cp-author-type-40{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(ying.png) no-repeat center;
  background-size:contain;
}
.cp-author-type-9{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(ji.png) no-repeat center;
  background-size:contain;
}
.cp-author-type-4,.cp-author-type-5,.cp-author-type-6,.cp-author-type-15{
  display:inline-block;
  width:0.24rem;
  height:0.24rem;
  background:url(cv.png) no-repeat center;
  background-size:contain;
}
