/**
 * Created by army8735 on 2017/9/1.
 */

@mainTextColor:#2D4D67;
@secondTextColor:#B1C0C9;
@thirdTextColor:#FFF;
@mainLinkColor:#2D4D67;
@mainHoverColor:#0AE;

@mainColor:#8BBDE1;

@bgLinearGradient:linear-gradient(#A4D2DF, #7EB4CA);
@bgLinearGradientTopLeft:linear-gradient(120deg, #A4D2DF, #7EB4CA);
@bgLinearGradientHorizontal:linear-gradient(90deg, #A4D2DF, #7EB4CA);