/**
 * Created by army8735 on 2017/11/5.
 */

@import '../common/var';
@import './sub';
@import '../component/page/index';
@import '../component/hotpost/index';

.circle{
  .title{
    position:relative;
    padding:0.5rem 0.3rem;
    background-position:center;
    background-size:cover;
    border-radius:0.1rem;
    box-shadow:@boxShadow;
    overflow:hidden;
    .bg{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      background:url(//zhuanquan.xin/img/76873d30f1d764ff290963ca8b4f3fb5.jpg) no-repeat center 0;
      background-size:cover;
      &:after{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(255, 255, 255, 0.5);
        content:' ';
      }
    }
    > *{
      position:relative;
    }
    .pic{
      float:left;
      position:relative;
      width:1.44rem;
      height:1.44rem;
      margin-right:0.1rem;
      img{
        display:block;
        width:100%;
        height:100%;
        box-sizing:border-box;
        border:1px solid #FFF;
        border-radius:100%;
      }
    }
    .txt{
      float:left;
      width:4rem;
      h1{
        font-size:0.24rem;
        font-weight:400;
      }
      .rel{
        position:relative;
        margin-top:0.1rem;
        .join{
          position:absolute;
          top:0;
          right:0;
          display:block;
          padding:0 0.2rem;
          line-height:0.32rem;
          background:@secondColor;
          color:@thirdTextColor;
          border-radius:0.1rem;
          cursor:pointer;
          &:hover{
            text-decoration:underline;
          }
          &.joined{
            background:@fourthTextColor;
          }
        }
        .count{
          display:inline-block;
          padding-left:0.25rem;
          background:url(people.png) no-repeat 0.05rem center;
          background-size:0.12rem auto;
          line-height:0.32rem;
        }
      }
      .intro{
        margin-top:0.1rem;
        padding-top:0.1rem;
        font-size:0.12rem;
        color:@fourthTextColor;
        border-top:1px solid @mainColor;
        white-space:pre-wrap;
        word-wrap:break-word;
        word-break:break-all;
      }
    }
  }
  .main{
    float:left;
    padding-top:0.2rem;
    width:6.48rem;
    .cp-page{
      text-align:right;
    }
  }
}
