/**
 * Created by army8735 on 2018/8/15.
 */

@import '../../d/component/page/index';

body{
  padding-top:34%;
  background:#ede0d0 url(//zhuanquan.xin/img/975c78f7c81a46261efc398051e14739.jpg) no-repeat center 0;
  background-size:100% auto;
}

@media screen and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2), screen and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 3) {
  body{
    background-image:url(//zhuanquan.xin/img/975c78f7c81a46261efc398051e14739.jpg-750__80);
  }
}

.home{
  margin:0.1rem auto;
  width:10rem;
  .c{
    padding:0.2rem;
    border:0.02rem solid #c7a751;
  }
  .tab{
    li{
      display:inline-block;
      width:50%;
      font-size:0.32rem;
      text-align:center;
      height:0.54rem;
      color:#c7a751;
      cursor:pointer;
      &.cur{
        color:#882925;
        cursor:default;
      }
    }
  }
  h3{
    margin:0.1rem 0;
    font-size:0.2rem;
    text-align:center;
    color:#882925;
  }
  p{
    text-indent:2em;
  }
  .origin{
    margin:0.1rem 0;
    li{
      float:left;
      position:relative;
      margin-bottom:0.05rem;
      padding-left:0.6rem;
      width:4rem;
      height:0.5rem;
      background:rgba(255, 255, 255, 0.3);
      border-radius:0.05rem;
      &:nth-child(2n) {
        margin-left:0.2rem;
      }
    }
    .pic{
      position:absolute;
      left:0;
      top:0;
      width:0.5rem;
      height:0.5rem;
      img{
        display:block;
        width:100%;
        height:100%;
        border-radius:0.05rem;
      }
    }
    .txt{
      float:left;
      h5{
        margin-top:0.02rem;
        font-size:0.16rem;
        font-weight:400;
      }
      span{
        margin-right:0.02rem;
      }
    }
    .download{
      float:right;
      padding-right:0.2rem;
      height:100%;
      line-height:0.54rem;
      a{
        margin-left:0.1rem;
        color:#882925;
      }
    }
  }
  .upload{
    margin:0.3rem auto 0;
    display:block;
    width:2.94rem;
    height:0.69rem;
    background:url(../../rhyme/ysjxy/upload.png) no-repeat center;
    background-size:contain;
    text-indent:9999rem;
    white-space:nowrap;
    overflow:hidden;
  }
  .bot{
    margin:0.1rem auto;
    width:5rem;
    .i1{
      width:2rem;
      vertical-align:middle;
    }
    .i2{
      width:1rem;
      vertical-align:middle;
    }
  }
  .sort{
    padding-left:0.1rem;
    li{
      float:left;
      font-size:0.3rem;
      color:#977a48;
      padding-left:0.1rem;
      opacity:0.5;
      &.cur{
        color:#882925;
        opacity:1;
      }
    }
  }
  .fc-list{
    padding:0.1rem 0 0.1rem 0.1rem;
    li{
      float:left;
      margin:0 0.1rem 0.2rem 0;
      width:1.8rem;
      border:1px solid #a5a5a5;
      box-sizing:border-box;
      border-radius:0.05rem;
      overflow:hidden;
      &:nth-child(5n + 1) {
        clear:both;
      }
      &:nth-child(5n) {
        margin-right:0;
      }
      .pic{
        position:relative;
        display:block;
        img{
          display:block;
          width:1.8rem;
          height:1.8rem;
          object-fit:cover;
        }
        span{
          position:absolute;
          left:0;
          bottom:0;
          width:100%;
          line-height:0.3rem;
          background:rgba(51,102,153,.7);
          color:#FFF;
          font-size:0.16rem;
          text-align:center;
        }
      }
      p{
        text-indent:0;
      }
      .txt{
        padding:0.05rem;
        color:#977a48;
        .ti{
          font-size:0.16rem;
          color:#882925;
        }
        .count{
          text-align:center;
          line-height:0.24rem;
          strong{
            margin-right:0.05rem;
            color:#fe5952;
            font-size:0.18rem;
            font-weight:400;
            line-height:0.24rem;
          }
        }
        .desc{
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
          height:0.24rem;
        }
        .er{
          span{
            display:block;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            height:0.24rem;
          }
        }
        .btn{
          text-align:center;
        }
        .vote{
          display:inline-block;
          width:0.6rem;
          height:0.3rem;
          line-height:0.3rem;
          color:#FFF;
          background:#d982b8;
          border-radius:0.05rem;
          text-align:center;
          font-size:0.14rem;
          cursor:pointer;
          &:hover{
            background:#df93c2;
          }
        }
        .voted{
          display:inline-block;
          width:0.6rem;
          height:0.3rem;
          line-height:0.3rem;
          color:#FFF;
          background:#7a8ac2;
          border-radius:0.05rem;
          text-align:center;
          font-size:0.14rem;
        }
        .share{
          display:inline-block;
          margin-left:0.1rem;
          width:0.6rem;
          height:0.3rem;
          line-height:0.3rem;
          color:#FFF;
          background:#7acac2;
          border-radius:0.05rem;
          text-align:center;
          font-size:0.14rem;
        }
      }
    }
  }
  .qr{
    position:fixed;
    right:0;
    bottom:10%;
    width:1.57rem;
    height:4.86rem;
    img{
      display:block;
      width:100%;
      height:100%;
    }
    a{
      position:absolute;
      left:0;
      top:30%;
      width:100%;
      height:40%;
    }
    span{
      position:absolute;
      right:0;
      top:0;
      width:0.22rem;
      height:0.22rem;
      background:url(close.png) no-repeat center;
      background-size:contain;
    }
  }
}

@media screen and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2), screen and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 3){
  .home{
    width:auto;
    .origin{
      li{
        float:none;
        display:flex;
        width:auto;
        &:nth-child(2n) {
          margin-left:0;
        }
      }
      .txt{
        float:none;
        flex:1;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        div{
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
      }
      .download{
        float:none;
        padding-right:0.1rem;
        font-size:0.13rem;
        white-space:nowrap;
        flex-shrink:0;
      }
    }
    .upload{
      margin:0.2rem auto 0;
      width:auto;
    }
    .fc-list{
      transform:translateX(0);
      li{
        float:none;
        display:block;
        margin:0 auto;
      }
    }
  }
}