/**
 * Created by army8735 on 2017/10/11.
 */

@import '../common/var';
@import '../component/postlist/index';
@import '../component/page/index';
@import '../component/comment/index';
@import '../works/comment';

.cp-page{
  text-align:right;
}

#page > .post{
  .main{
    position:relative;
    float:left;
    width:6.48rem;
    .cp-postlist{
      .list > li{
        border-bottom:none;
        .image{
          display:block;
          li{
            display:block;
            margin-right:0;
            width:auto;
            height:auto;
          }
        }
      }
    }
  }
  .box{
    margin-bottom:0.2rem;
    border-radius:0.1rem;
    box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    &.box-fn-top-left{
      border-top-left-radius:0;
    }
  }
}
