/**
 * Created by army8735 on 2017/9/18.
 */
@import '../../d/common/var';
@import '../../d/component/comment/index';
@import '../../d/component/page/index';
@import '../component/subcmt/index';
@import '../../d/component/author/index';
@import '../component/hotwork/index';
@import '../component/hotmusicalbum/index';
@import '../component/hotauthor/index';
@import '../../d/component/hotplaylist/index';

.author{
  > .nav{
    position:relative;
    padding:0.2rem 0.2rem 0.5rem;
    background:url(//zhuanquan.xin/img/9a50c2a08935b9c9c0a9cbed22ce402a.jpg) no-repeat center;
    background-size:cover;
    > .profile{
      display:flex;
      align-items:center;
      .pic{
        position:relative;
        width:1rem;
        height:1rem;
        margin-right:0.2rem;
        img{
          display:block;
          width:100%;
          height:100%;
          box-sizing:border-box;
          border:1px solid #FFF;
          border-radius:100%;
        }
        .settled{
          position:absolute;
          bottom:0;
          right:0;
          display:block;
          width:0.29rem;
          height:0.34rem;
          background:url(../../d/author/settled.png) no-repeat;
          background-size:contain;
        }
      }
      .txt{
        flex:1;
        .n{
          display:flex;
          align-items:center;
          h3{
            margin-right:0.08rem;
            font-size:0.16rem;
            font-weight:400;
            vertical-align:middle;
          }
        }
        .rel{
          position:relative;
          margin-top:0.1rem;
          line-height:0.2rem;
          label{
            margin:0 0.05rem;
            color:@fourthTextColor;
          }
          .follow, .un-follow{
            position:absolute;
            top:0;
            right:0;
            display:block;
            padding:0 0.1rem 0 0.25rem;
            height:0.2rem;
            line-height:0.2rem;
            background:@secondColor url(../../d/author/+.png) no-repeat 0.1rem center;
            background-size:0.1rem auto;
            border-radius:0.1rem;
            color:@thirdTextColor;
          }
          .un-follow{
            background-color:@fourthTextColor;
            background-image:url(../../d/author/-.png);
          }
        }
        .intro{
          margin-top:0.1rem;
        }
      }
    }
    > .link{
      position:relative;
      margin-top:0.2rem;
      padding:0.2rem 0 0;
      box-sizing:border-box;
      text-align:center;
      color:@fourthTextColor;
      border-top:1px solid #C2D8E4;
      ul{
        display:flex;
        li{
          flex:1;
          text-align:center;
          a{
            display:block;
            margin:0 auto;
            padding-top:0.2rem;
            min-width:0.2rem;
            height:0.4rem;
            box-sizing:border-box;
            text-align:center;
            white-space:nowrap;
            color:@fourthTextColor;
            &.sing5{
              background:url(../../icon/5sing.png) no-repeat center 0.05rem;
              background-size:0.14rem auto;
            }
            &.bilibili{
              background:url(../../icon/bilibili.png) no-repeat center 0.02rem;
              background-size:0.17rem auto;
            }
            &.wangyi{
              background:url(../../icon/163.png) no-repeat center 0.02rem;
              background-size:0.14rem auto;
            }
            &.baidu{
              background:url(../../icon/baidu.png) no-repeat center 0.02rem;
              background-size:0.16rem auto;
            }
            &.weibo{
              background:url(../../icon/weibo.png) no-repeat center 0.02rem;
              background-size:0.14rem auto;
            }
          }
        }
      }
      p{
        margin-top:0.2rem;
      }
    }
  }
  > .type{
    margin-top:-0.41rem;
    padding-top:0.01rem;
    height:0.4rem;
    display:flex;
    border-bottom:0.08rem solid @mainColor;
    overflow:hidden;
    li{
      position:relative;
      padding:0 0.2rem 0 0.5rem;
      width:0.3rem;
      height:100%;
      box-shadow:@tagShadow;
      border-top-left-radius:0.24rem;
      border-top-right-radius:0.24rem;
      color:@secondTextColor;
      line-height:0.48rem;
      font-size:0.12rem;
      cursor:pointer;
      text-align:right;
      background-color:rgba(255, 255, 255, 0.7);
      background-position:0.2rem 0.12rem;
      background-repeat:no-repeat;
      background-size:0.24rem auto;
      &.home{
        background-image:url(../../icon/tag-home.png);
        &.cur{
          background-image:url(../../icon/tag-home-cur.png);
        }
      }
      &.ma{
        background-image:url(../../icon/tag-ma.png);
        &.cur{
          background-image:url(../../icon/tag-ma-cur.png);
        }
      }
      &.comments{
        background-image:url(../../icon/tag-comments.png);
        &.cur{
          background-image:url(../../icon/tag-comments-cur.png);
        }
      }
      &:active{
        text-decoration:underline;
      }
      &:first-child{
        z-index:9;
      }
      &:nth-child(2){
        z-index:8;
      }
      &.cur{
        background-color:@mainColor;
        color:@mainTextColor;
        cursor:default;
        font-size:0.14rem;
        text-decoration:none;
        z-index:10;
      }
    }
  }
  > .home{
    h4{
      position:relative;
      margin:0.1rem 0.1rem 0.05rem;
      padding-left:0.05rem;
      font-size:0.12rem;
      &:before{
        position:absolute;
        left:0;
        top:0.02rem;
        bottom:0.02rem;
        width:0.02rem;
        background:@secondColor;
        content:' ';
        border-radius:0.05rem;
      }
    }
    > .cp-dynamic{
      margin-top:0.1rem;
    }
  }
  > .comments{
    > .fn{
      position:relative;
      padding-bottom:0.05rem;
      height:0.3rem;
      line-height:0.3rem;
      font-size:0.13rem;
      color:#B9B9B9;
      background:@mainColor;
      border-bottom:0.04rem solid #F0F0F0;
      .type{
        position:absolute;
        top:0;
        left:0;
        padding:0 0.1rem 0.05rem 0.1rem;
        height:0.3rem;
        border-radius:0.18rem;
        li{
          position:relative;
          margin-right:0.2rem;
          float:left;
          height:100%;
          line-height:0.3rem;
          cursor:pointer;
          color:@thirdTextColor;
          &:last-child{
            margin:0;
          }
          &.cur{
            color:@mainTextColor;
            cursor:default;
            &:after{
              position:absolute;
              left:20%;
              right:20%;
              bottom:0.02rem;
              display:block;
              height:0.02rem;
              background:@mainTextColor;
              border-radius:0.02rem;
              content:' ';
            }
          }
          small{
            padding-left:0.05rem;
            color:#58A2CE;
            font-size:0.12rem;
          }
        }
      }
      .type2{
        position:absolute;
        top:0.05rem;
        right:0.1rem;
        border-radius:0.24rem;
        color:@thirdTextColor;
        background:#B1C0C9;
        &:before{
          position:absolute;
          left:0;
          top:0;
          width:0.44rem;
          height:100%;
          background:#F1F6F9;
          border-radius:0.24rem;
          content:' ';
          transition:transform 0.2s;
        }
        &.alt:before{
          transform:translateX(100%);
        }
        li{
          position:relative;
          float:left;
          padding:0 0.1rem;
          width:0.24rem;
          height:0.24rem;
          line-height:0.24rem;
          border-radius:0.24rem;
          font-size:0.12rem;
          white-space:nowrap;
          overflow:hidden;
          cursor:pointer;
          &.cur{
            color:@mainTextColor;
          }
        }
      }
    }
    > .cp-page{
      margin:0.1rem 0.1rem 0 0.1rem;
      text-align:right;
    }
    > .cp-comment{
      margin:0.1rem 0.1rem 0 0.1rem;
    }
  }
  pre{
    margin:0;
    padding:0;
  }
  .cp-hotauthor{
    .list .c ul li .txt{
      .fans,.comment{
        display:none;
      }
    }
  }
}