/**
 * Created by army8735 on 2017/11/18.
 */

.cp-messages{
  .list{
    .quote{
      padding:0.05rem 0.1rem;
      background:#F0F0F0;
      p{
        display:inline-block;
      }
    }
  }
  .empty,.message{
    padding:0.1rem 0;
    text-align:center;
    color:@fourthTextColor;
  }
}
