/**
 * Created by army8735 on 2017/9/21.
 */

@import '../common/var.less';
@import '../component/comment/index.less';
@import '../component/page/index.less';

.cp-botnav{
  margin-bottom:0.6rem;
}
.works{
  padding-top:0.2rem;
  > .title{
    margin-bottom:0.2rem;
    color:#4E8EB0;
    border-radius:0.12rem;
    box-shadow:1px 1px 5px rgba(0,0,0,0.3);
    overflow:hidden;
    .t{
      position:relative;
      padding:0 0.2rem;
      height:0.72rem;
      background:#9ECDDB;
      line-height:0.72rem;
      span{
        display:inline-block;
        padding:0 0.1rem;
        height:0.32rem;
        line-height:0.3rem;
        border:1px solid #4E8EB0;
        box-sizing:border-box;
        border-radius:0.32rem;
        color:#2D4D67;
        font-size:0.14rem;
        vertical-align:middle;
      }
      h1{
        display:inline-block;
        margin-left:0.1rem;
        font-size:0.24rem;
        font-weight:400;
        vertical-align:middle;
        color:#fff;
      }
      h2{
        display:inline-block;
        margin-left:0.1rem;
        font-size:0.18rem;
        color:#fff;
        font-weight:400;
        vertical-align:middle;
        &:before{
          margin-right:0.1rem;
          content:'—';
        }
      }
    }
    .c{
      padding:0.2rem 0.2rem 0.3rem;
      background:url(title-bg.png) no-repeat right center;
      background-size:3.27rem auto;
      > .tags{
        margin-bottom:0.25rem;
        li{
          float:left;
          margin:0 0.05rem;
          padding:0 0.1rem;
          height:100%;
          color:#fff;
          font-size:0.12rem;
          box-sizing:border-box;
          border-radius:0.24rem;
          line-height:0.24rem;
          background:@bgLinearGradient;
        }
      }
      > .authors{
        ul{
          margin-bottom:0.1rem;
          color:#2D4D67;
          li{
            display:inline-block;
            vertical-align:middle;
            height:0.24rem;
            line-height:0.24rem;
            box-sizing:border-box;
            &.label{
              margin:0 0.05rem;
              padding:0 0.05rem;
              border:1px solid #9ECDDB;
              font-size:0.12rem;
              box-sizing:border-box;
              border-radius:0.24rem;
              color:#9ECDDB;
              line-height:0.22rem;
            }
            &.item{
              padding-right:0.05rem;
              font-size:0.12rem;
              white-space:nowrap;
              overflow:hidden;
              text-overflow:ellipsis;
              max-width:0.85rem;
            }
            a{
              color:#2D4D67;
            }
          }
        }
      }
    }
  }
  > .main{
    float:left;
    width:6.51rem;
    > .type{
      height:0.4rem;
      li{
        position:relative;
        float:left;
        padding:0 0.1rem 0 0.33rem;
        width:0.3rem;
        height:100%;
        box-shadow:2px 1px 5px rgba(0,0,0,0.3);
        border-top-left-radius:0.24rem;
        border-top-right-radius:0.24rem;
        color:#B1C0C9;
        line-height:0.48rem;
        font-size:0.12rem;
        cursor:pointer;
        text-align:right;
        &.audio{
          background:url(audio.png) no-repeat 0.12rem 0.14rem;
          background-size:0.18rem auto;
        }
        &.video{
          background:url(video.png) no-repeat 0.12rem 0.17rem;
          background-size:0.18rem auto;
        }
        &:hover{
          font-size:0.14rem;
        }
        &.cur{
          background-color:#9ECDDB;
          color:#fff;
          cursor:default;
          font-size:0.14rem;
        }
      }
    }
    > .media{
      position:relative;
      background:#B1C0C9;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
      border-top-right-radius:0.1rem;
      border-bottom-left-radius:0.1rem;
      border-bottom-right-radius:0.1rem;
      box-shadow:1px 3px 3px rgba(0,0,0,0.3);
      .type{
        padding:0 0.1rem 0.05rem 0.1rem;
        height:0.3rem;
        color:#fff;
        font-size:0.12rem;
        background:#9ECDDB;
        border-top-right-radius:0.1rem;
        li{
          position:relative;
          margin-right:0.1rem;
          float:left;
          height:100%;
          line-height:0.3rem;
          cursor:pointer;
          &:last-child{
            margin:0;
          }
          &.cur{
            color:#2D4D67;
            cursor:default;
            &:after{
              position:absolute;
              left:20%;
              right:20%;
              bottom:0.02rem;
              display:block;
              height:0.02rem;
              background:#2D4D67;
              border-radius:0.02rem;
              content:' ';
            }
          }
        }
      }
      h3{
        padding:0.1rem 0 0.2rem;
        text-align:center;
        color:#2D4D67;
        font-size:0.18rem;
        font-weight:400;
        background:linear-gradient(rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 70%,rgba(255,255,255,0) 100%);
      }
      .lyrics{
        position:relative;
        height:4.88rem;
        overflow:hidden;
        color:#fff;
        .roll{
          position:absolute;
          left:0;
          top:0;
          bottom:0;
          width:100%;
          height:100%;
          transform:translateY(-0.1rem);
          text-shadow:0 0 1px rgba(0,0,0,0.5);
          &:before{
            position:absolute;
            left:0;
            top:50%;
            width:100%;
            height:0.2rem;
            background:linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
            content:' ';
          }
          .c{
            position:relative;
            top:50%;
            transition:transform 0.2s ease-out;
            pre{
              margin:0;
              font-size:0.12rem;
              line-height:0.2rem;
              text-align:center;
              word-break:break-all;
              word-wrap:break-word;
              white-space:pre-wrap;
              transition:opacity 0.2s ease-out;
              &.cur{
                opacity:1;
              }
            }
          }
        }
        .line{
          position:absolute;
          left:0;
          width:100%;
          bottom:0;
          margin:0;
          font-size:0.12rem;
          line-height:2;
          text-align:center;
          word-break:break-all;
          word-wrap:break-word;
          white-space:pre-wrap;
          text-shadow:0 0 1px rgba(0,0,0,0.5);
        }
      }
      .fn{
        padding:0.2rem;
        background:linear-gradient(rgba(255,255,255,0) 0%,rgba(255,255,255,0.7) 20%,rgba(255,255,255,0.7) 100%);
        border-bottom-left-radius:0.1rem;
        border-bottom-right-radius:0.1rem;
        .control{
          position:relative;
          margin-top:0.1rem;
          height:0.24rem;
          .lyrics{
            position:absolute;
            top:0;
            left:0;
            display:block;
            width:0.24rem;
            height:0.24rem;
            background:url(lyrics.png) no-repeat center;
            background-size:contain;
            cursor:pointer;
            &:hover{
              background-image:url(lyrics-hover.png);
            }
            &.roll{
              background-image:url(lyrics-roll.png);
              &:hover{
                background-image:url(lyrics-roll-hover.png);
              }
            }
          }
          .full{
            position:absolute;
            top:0;
            right:0;
            display:block;
            width:0.24rem;
            height:0.24rem;
            background:url(fullscreen.png) no-repeat center;
            background-size:contain;
            cursor:pointer;
          }
          .volume{
            position:absolute;
            top:0.1rem;
            right:0.6rem;
            width:0.72rem;
            height:0.05rem;
            background:#fff;
            border-radius:0.05rem;
            .icon{
              position:absolute;
              left:-0.35rem;
              top:-0.1rem;
              width:0.24rem;
              height:0.24rem;
              background:url(volume.png) no-repeat 0 center;
              background-size:contain;
              cursor:pointer;
              &:hover{
                background-image:url(volume-hover.png);
              }
              &.muted{
                background-image:url(volume-mute.png);
                &:hover{
                  background-image:url(volume-mute-hover.png);
                }
              }
            }
            .vol{
              position:absolute;
              left:0;
              top:0;
              display:block;
              width:0%;
              height:100%;
              background:#9ECDDB;
              border-radius:0.04rem;
            }
            .p{
              position:absolute;
              left:0;
              top:-0.04rem;
              width:100%;
              &:before{
                position:absolute;
                left:-0.06rem;
                top:0;
                display:block;
                width:0.12rem;
                height:0.12rem;
                border:1px solid #4E8EB0;
                border-radius:100%;
                box-sizing:border-box;
                background:#fff;
                content:' ';
                cursor:move;
              }
            }
          }
        }
        .bar{
          position:relative;
          margin-top:0.1rem;
          .play{
            display:block;
            width:0.24rem;
            height:0.24rem;
            background:url(play.png) no-repeat center;
            background-size:contain;
            cursor:pointer;
            &:hover{
              background-image:url(play-hover.png);
            }
            &.pause{
              background-image:url(pause.png);
              &:hover{
                background-image:url(pause-hover.png);
              }
            }
          }
          .time{
            position:absolute;
            left:0.3rem;
            top:0;
            font-size:0.12rem;
            color:#2D4D67;
            line-height:0.24rem;
            &.end{
              left:auto;
              right:0;
            }
          }
          .progress{
            position:absolute;
            top:0.08rem;
            left:0.9rem;
            right:0.6rem;
            height:0.07rem;
            background:#fff;
            border-radius:0.07rem;
            .load{
              position:absolute;
              left:0;
              top:1px;
              display:block;
              width:0%;
              height:0.05rem;
              background:#B1C0C9;
              border-radius:0.05rem;
              box-sizing:border-box;
              border-left:1px solid #fff;
              border-right:1px solid #fff;
            }
            .vol{
              position:absolute;
              left:0;
              top:1px;
              display:block;
              width:0%;
              height:0.05rem;
              background:#9ECDDB;
              border-radius:0.05rem;
              box-sizing:border-box;
              border-left:1px solid #fff;
              border-right:1px solid #fff;
            }
            .p{
              position:absolute;
              left:0;
              top:-0.03rem;
              width:100%;
              &:before{
                position:absolute;
                left:-0.055rem;
                top:0;
                display:block;
                width:0.12rem;
                height:0.12rem;
                border:1px solid #4E8EB0;
                border-radius:100%;
                box-sizing:border-box;
                background:#fff;
                content:' ';
                cursor:move;
              }
            }
          }
        }
        .btn{
          margin-top:0.1rem;
          text-align:center;
          li{
            display:inline-block;
            margin-right:0.5rem;
            width:0.24rem;
            height:0.24rem;
            cursor:pointer;
            &:last-child{
              margin-right:0;
            }
            &.like{
              background:url(like.png) no-repeat center;
              background-size:contain;
              &:hover{
                //background-image:url(liked.png);
              }
              &.has{
                background-image:url(liked.png);
                &:hover{
                  background-image:url(liked-hover.png);
                }
              }
            }
            &.favor{
              background:url(favor.png) no-repeat center;
              background-size:contain;
              &.has{
                background-image:url(favored.png);
                &:hover{
                  background-image:url(favored-hover.png);
                }
              }
            }
            &.download{
              background:url(download.png) no-repeat center;
              background-size:contain;
            }
            &.share{
              background:url(share.png) no-repeat center;
              background-size:contain;
            }
          }
        }
      }
      .audio,.video{
        width:100%;
      }
      video{
        width:100%;
        height:4.88rem;
        cursor:pointer;
      }
    }
    > .comments{
      margin-top:0.2rem;
      padding-bottom:0.1rem;
      box-shadow:1px 1px 3px rgba(0,0,0,0.3);
      border-radius:0.1rem;
      > .fn{
        position:relative;
        padding-bottom:0.05rem;
        height:0.3rem;
        line-height:0.3rem;
        background:#9ECDDB;
        font-size:0.12rem;
        color:#fff;
        border-top-left-radius:0.1rem;
        border-top-right-radius:0.1rem;
        .type{
          position:absolute;
          top:0;
          left:0;
          padding:0 0.1rem 0.05rem 0.1rem;
          height:0.3rem;
          border-radius:0.18rem;
          li{
            position:relative;
            margin-right:0.1rem;
            float:left;
            height:100%;
            line-height:0.3rem;
            cursor:pointer;
            &:last-child{
              margin:0;
            }
            &.cur{
              color:#2D4D67;
              cursor:default;
              &:after{
                position:absolute;
                left:20%;
                right:20%;
                bottom:0.02rem;
                display:block;
                height:0.02rem;
                background:#2D4D67;
                border-radius:0.02rem;
                content:' ';
              }
            }
          }
        }
        .type2{
          position:absolute;
          top:0.04rem;
          right:0.1rem;
          border:1px solid #fff;
          border-radius:0.18rem;
          color:#fff;
          &:before{
            position:absolute;
            left:0;
            top:0;
            width:0.44rem;
            height:100%;
            background:#F1F6F9;
            border-radius:0.18rem;
            content:' ';
            transition:transform 0.2s;
          }
          &.alt:before{
            transform:translateX(100%);
          }
          li{
            position:relative;
            float:left;
            padding:0 0.1rem;
            width:0.24rem;
            height:0.24rem;
            line-height:0.24rem;
            border-radius:0.18rem;
            font-size:0.12rem;
            white-space:nowrap;
            overflow:hidden;
            &.cur{
              color:#2D4D67;
              cursor:pointer;
            }
          }
        }
      }
      .cp-page{
        margin:0.1rem 0.1rem 0 0.1rem;
        text-align:right;
      }
      .cp-comment{
        margin:0.1rem 0.1rem 0 0.1rem;
      }
    }
  }
  > .side{
    float:right;
    width:3.24rem;
    font-size:0.14rem;
    > .sel{
      height:0.4rem;
      text-align:center;
      li{
        position:relative;
        float:left;
        padding:0 0.1rem 0 0.1rem;
        min-width:0.56rem;
        height:100%;
        box-shadow:2px 1px 5px rgba(0,0,0,0.3);
        border-top-left-radius:0.24rem;
        border-top-right-radius:0.24rem;
        color:#B1C0C9;
        line-height:0.48rem;
        cursor:pointer;
        font-size:0.12rem;
        &:hover{
          font-size:0.14rem;
        }
        &.cur{
          background-color:#9ECDDB;
          color:#fff;
          cursor:default;
          font-size:0.14rem;
        }
      }
    }
    > .info{
      position:relative;
      padding:0.06rem 0 0;
      background:#9ECDDB;
      font-size:0.14rem;
      box-shadow:1px 3px 3px rgba(0,0,0,0.3);
      border-radius:0.1rem;
      border-top-left-radius:0;
      h4{
        padding:0 0.25rem;
        line-height:0.24rem;
        color:#fff;
        font-size:0.12rem;
        font-weight:400;
        &:first-child{
          padding-bottom:0.05rem;
        }
      }
      .intro{
        padding:0.15rem;
        background:#fff;
        pre{
          margin:0;
          color:#2D4D67;
        }
        .time{
          display:block;
          margin-top:0.1rem;
          color:#B1C0C9;
          font-size:0.14rem;
        }
      }
    }
  }
  > .form{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:0.6rem;
    background:#C2D8E4;
    z-index:99;
    form{
      margin:0.1rem auto 0;
      width:10rem;
      .text{
        float:left;
        padding:0 0.2rem;
        width:8.3rem;
        height:0.38rem;
        background:#F1F6F9;
        border-radius:0.4rem;
        border:1px solid #B1C0C9;
        font-size:0.14rem;
        color:#2D4D67;
        &::-webkit-input-placeholder{
          color:rgba(45,77,103,0.5);
        }
      }
      .submit{
        float:right;
        width:1.1rem;
        height:0.4rem;
        background:#4E8EB0;
        color:#fff;
        border-radius:0.4rem;
        border:none;
      }
    }
  }
}