/**
 * Created by army8735 on 2017/9/21.
 */

@import '../common/var';
@import '../component/comment/index';
@import '../component/page/index';
@import './title';
@import './media';
@import './comment';
@import './author';
@import './text';
@import './image';
//@import './timeline';
//@import './poster';
//@import './add-label';
//@import './photoalbum';
//@import './insp';
//@import './lyric';
//@import './imageview';
//@import './playlist';
//@import './musicalbum';
//@import './describe';

#page > .works{
  padding:0 0 0.2rem;
  border-radius:0.12rem;
  > .main{
    float:left;
    width:6.48rem;
    > .type{
      padding-top:1px;
      box-sizing:border-box;
      height:0.4rem;
      overflow:hidden;
      li{
        position:relative;
        float:left;
        padding:0 0.2rem 0 0.5rem;
        height:100%;
        box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
        border-top-left-radius:0.24rem;
        border-top-right-radius:0.24rem;
        color:#B1C0C9;
        line-height:0.48rem;
        font-size:0.12rem;
        cursor:pointer;
        text-align:right;
        background-position:0.2rem 0.12rem;
        background-repeat:no-repeat;
        &:first-child{
          margin-left:1px;
          &.cur{
            margin-left:0;
          }
        }
        &.audio{
          background-image:url(audio-dis.png);
          background-size:0.24rem auto;
          &.cur{
            margin-left:0;
            background-image:url(audio.png);
            &:hover{
              background-image:url(audio.png);
            }
          }
          &:hover{
            background-image:url(audio-hover.png);
          }
        }
        &.video{
          background-image:url(video-dis.png);
          background-size:0.24rem auto;
          &.cur{
            background-image:url(video.png);
            &:hover{
              background-image:url(video.png);
            }
          }
          &:hover{
            background-image:url(video-hover.png);
          }
        }
        &.link{
          background-image:url(link-dis.png);
          background-size:0.24rem auto;
          &.cur{
            background-image:url(link.png);
            &:hover{
              background-image:url(link.png);
            }
          }
          &:hover{
            background-image:url(link-hover.png);
          }
        }
        &.cover{
          background-image:url(cover.png);
          background-size:0.24rem auto;
          &.cur{
            background-image:url(cover-cur.png);
            &:hover{
              background-image:url(cover-cur.png);
            }
          }
          &:hover{
            background-image:url(cover-cur.png);
          }
        }
        &.player{
          background-image:url(player.png);
          background-size:0.24rem auto;
          &.cur{
            background-image:url(player-cur.png);
            &:hover{
              background-image:url(player-cur.png);
            }
          }
          &:hover{
            background-image:url(player-cur.png);
          }
        }
        &:hover{
          text-decoration:underline;
        }
        &.cur{
          background-color:#8BBDE1;
          color:#2D4D67;
          cursor:default;
          font-size:0.14rem;
          text-decoration:none;
        }
      }
    }
  }
  > .side{
    float:right;
    width:3.3rem;
    font-size:0.14rem;
    > .sel{
      padding-top:1px;
      box-sizing:border-box;
      height:0.4rem;
      text-align:center;
      overflow:hidden;
      li{
        position:relative;
        float:left;
        padding:0 0.2rem;
        height:100%;
        box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
        border-top-left-radius:0.24rem;
        border-top-right-radius:0.24rem;
        color:#B1C0C9;
        line-height:0.48rem;
        cursor:pointer;
        font-size:0.12rem;
        &:hover{
          text-decoration:underline;
        }
        &.cur{
          background-color:#8BBDE1;
          color:#2D4D67;
          cursor:default;
          font-size:0.14rem;
          &:hover{
            text-decoration:none;
          }
        }
      }
    }
  }
  .qr{
    position:fixed;
    right:0;
    bottom:10%;
    width:1.57rem;
    height:4.86rem;
    img{
      display:block;
      width:100%;
      height:100%;
    }
  }
  .mod{
    h5{
      padding:0 0.2rem;
      line-height:0.24rem;
      color:#FFF;
      font-size:0.12rem;
      font-weight:400;
      background:#8BBDE1;
    }
    h5.desc{
      height:0.1rem;
    }
    pre.desc{
      padding:0.05rem 0.1rem;
    }
  }
  .box{
    margin-bottom:0.2rem;
    border-radius:0.1rem;
    box-shadow:0 2px 3px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    &.box-fn-top-left{
      border-top-left-radius:0;
    }
  }
}
