/**
 * Created by army8735 on 2017/11/13.
 */

.cp-hotpost{
  margin-top:0.1rem;
  padding:0 0.1rem;
  .list{
    li{
      > .profile{
        position:relative;
        padding-left:0.12rem;
        .pic{
          float:left;
          margin-right:0.2rem;
          width:0.48rem;
          height:0.48rem;
          border-radius:100%;
          box-shadow:@picShadow;
        }
        .txt{
          float:left;
          line-height:0.48rem;
          .name{
            margin-right:0.1rem;
            font-size:0.16rem;
            vertical-align:middle;
          }
          .time{
            font-size:0.12rem;
            color:@fourthTextColor;
            vertical-align:middle;
          }
        }
        .circle{
          position:absolute;
          top:0;
          right:0;
          li{
            display:inline-block;
            padding:0 0.1rem;
            line-height:0.24rem;
            background:@mainColor;
            border-radius:0.24rem;
            color:@thirdTextColor;
          }
        }
      }
      &.author{
        > .profile .txt .name{
          color:#EC0;
        }
      }
      > .wrap{
        position:relative;
        margin:0.15rem 0;
        padding:0.1rem;
        background:#FFF;
        border:1px solid #EDF3F7;
        border-radius:0.1rem;
        .t{
          display:block;
          margin-bottom:0.1rem;
          font-size:0.14rem;
          word-break:break-all;
          word-wrap:break-word;
          white-space:pre-wrap;
        }
        .arrow{
          position:absolute;
          left:0.3rem;
          top:-1px;
          display:block;
          width:0.1rem;
          height:0.1rem;
          border-top:1px solid #FFF;
          &:after{
            position:absolute;
            left:0;
            top:-0.06rem;
            display:block;
            width:0.1rem;
            height:0.1rem;
            border:1px solid #EDF3F7;
            border-left:none;
            border-bottom:none;
            transform:rotateZ(-45deg);
            content:' ';
          }
        }
        .con{
          position:relative;
          font-size:0.14rem;
          word-break:break-all;
          word-wrap:break-word;
          white-space:pre-wrap;
          line-height:1.8;
          overflow:hidden;
          text-overflow:ellipsis;
          a{
            margin:0 0.02rem;
            color:@mainHoverColor;
          }
          strong{
            margin:0 0.02rem;
            font-weight:400;
            color:@mainHoverColor;
          }
          .more{
            display:inline-block;
            margin-left:0.05rem;
            font-size:0.13rem;
            color:@secondLinkColor;
            line-height:1.8;
            white-space:nowrap;
          }
        }
        .imgs{
          li{
            float:left;
            margin:0.1rem 0.1rem 0 0;
            width:1.2rem;
            height:1.2rem;
            background:@secondTextColor;
            background-size:contain;
            background-repeat:no-repeat;
            background-position:center;
            border-radius:0.1rem;
            overflow:hidden;
            &.all{
              position:relative;
              &:before{
                position:absolute;
                left:0;
                top:0;
                width:100%;
                height:100%;
                background:rgba(0,0,0,0.5);
                content:' ';
              }
              a{
                position:relative;
                display:block;
                width:100%;
                height:100%;
                line-height:1.2rem;
                text-align:center;
                color:@thirdTextColor;
              }
            }
          }
        }
        .btn{
          margin-top:0.1rem;
          text-align:right;
          li{
            display:inline-block;
            margin-right:0.1rem;
            height:0.24rem;
            line-height:0.24rem;
            vertical-align:middle;
            &:last-child{
              margin-right:0;
            }
            &.like{
              padding-left:0.3rem;
              background:url(../../../d/works/like.png) no-repeat 0 center;
              background-size:contain;
              &.has{
                background-image:url(../../../d/works/liked.png);
              }
            }
            &.comment{
              padding-left:0.3rem;
              background:url(../../../d/component/hotpost/comment.png) no-repeat 0 center;
              background-size:contain;
            }
            &.del{
              width:0.24rem;
              background:url(../../../d/component/hotpost/del.png) no-repeat 0 center;
              background-size:contain;
            }
          }
        }
      }
    }
  }
  .empty,.message{
    text-align:center;
    color:@fourthTextColor;
  }
}
