/**
 * Created by army8735 on 2017/10/15.
 */

#page > .upload{
  padding-top:0.1rem;
  .works-type{
    margin:0.1rem 0;
    li{
      display:inline-block;
      margin-right:0.1rem;
      padding:0 0.05rem;
      height:0.3rem;
      line-height:0.3rem;
      border:1px solid #EEE;
      border-radius:0.05rem;
      input{
        margin-right:0.05rem;
      }
    }
  }
  .next{
    margin:0 auto;
    width:1.5rem;
    height:0.5rem;
    color:#FFF;
    background:#409EFF;
    border-radius:0.05rem;
    border:none;
    font-size:0.2rem;
    cursor:pointer;
    &:disabled{
      background:#999;
      color:#CCC;
      cursor:default;
    }
  }
  .con{
    position:relative;
    font-size:0.14rem;
    .line{
      position:relative;
      margin-bottom:0.1rem;
    }
    label{
      display:inline-block;
      margin-right:0.1rem;
      width:0.8rem;
      text-align:right;
    }
    .required:before{
      margin-right:0.05rem;
      color:#F33;
      content:'*';
    }
    input[type="text"]{
      padding:0 0.1rem;
      width:3rem;
      height:0.3rem;
      border:1px solid #EEE;
      border-radius:0.05rem;
    }
    textarea{
      padding:0.05rem 0.1rem;
      width:6rem;
      height:1rem;
      border:1px solid #EEE;
      border-radius:0.05rem;
      resize:none;
      vertical-align:top;
    }
    .show-all{
      margin:0 0 0.1rem 0.9rem;
      color:#FFF;
      background:#A0CEFF;
      border-radius:0.05rem;
      border:none;
      &:hover{
        background:#B0DEFF;
      }
    }
    .suggest{
      position:absolute;
      left:1rem;
      top:0.31rem;
      min-width:1rem;
      min-height:0.24rem;
      background:rgba(255, 255, 255, 0.9);
      border:1px solid #8BBDE1;
      border-radius:0.01rem;
      box-shadow:0.01rem 0.01rem 0.03rem rgba(0, 0, 0, 0.1);
      z-index:999;
      &:before{
        position:absolute;
        left:0;
        top:0;
        padding:0 0.1rem;
        line-height:0.24rem;
        content:'无搜索建议';
        color:#CCC;
        font-size:0.12rem;
      }
      .author{
        position:relative;
        padding:0 0.1rem;
        background:#FFF;
        line-height:0.24rem;
        &:hover{
          background:#8BBDE1;
          color:#FFF;
        }
      }
    }
    .poster{
      position:absolute;
      top:0;
      right:0;
      width:1.6rem;
      height:1.6rem;
      line-height:1.6rem;
      text-align:center;
      border:1px dashed #EEE;
      border-radius:0.05rem;
      overflow:hidden;
      img{
        position:absolute;
        left:0;
        top:50%;
        max-width:100%;
        max-height:100%;
        object-fit:contain;
        transform:translateY(-50%);
      }
      input{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        opacity:0;
      }
    }
    .sub-type{
      background:#f5f7fa;
      border:1px solid #EEE;
      border-bottom-style:dotted;
      li{
        position:relative;
        display:inline-block;
        padding:0 0.05rem 0 0.15rem;
        height:0.3rem;
        line-height:0.3rem;
        background:#FFF;
        text-align:center;
        border-right:1px solid #EEE;
        &.cur{
          color:#409EFF;
          &:after{
            position:absolute;
            left:0;
            bottom:-1px;
            width:100%;
            height:1px;
            background:#FFF;
            content:' ';
          }
        }
        span{
          vertical-align:middle;
          cursor:default;
        }
        b{
          display:inline-block;
          margin-left:0.02rem;
          width:0.2rem;
          height:0.2rem;
          background:url(close.png) no-repeat center;
          background-size:0.12rem auto;
          vertical-align:middle;
          cursor:pointer;
          opacity:0.3;
          border-radius:100%;
        }
        &:hover{
          b{
            opacity:1;
            &:hover{
              background-color:#F0F0F0;
            }
          }
        }
      }
    }
    .add-one,.del-one{
      margin-left:0.1rem;
      font-size:0.12rem;
      cursor:pointer;
      color:#CCC;
      &:hover{
        color:#60AEFF;
      }
    }
    .work-list{
      padding:0.2rem;
      border:1px solid #EEE;
      border-top:none;
      border-bottom-style:dotted;
      .up{
        position:relative;
        margin-left:0.9rem;
      }
      .btn{
        position:relative;
        width:1rem;
        height:0.3rem;
        line-height:0.3rem;
        text-align:center;
        color:#FFF;
        background:#409EFF;
        border-radius:0.05rem;
        border:none;
        font-size:0.14rem;
        cursor:pointer;
        overflow:hidden;
        &.disabled{
          background:#999;
          color:#CCC;
          cursor:default;
        }
        &:hover{
          background:#60AEFF;
          &.disabled{
            background:#999;
            color:#CCC;
            cursor:default;
          }
        }
        input{
          position:absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          opacity:0;
          cursor:pointer;
          &:disabled{
            cursor:default;
          }
        }
      }
      .progress{
        position:absolute;
        left:1.2rem;
        top:0.12rem;
        width:3rem;
        height:0.05rem;
        border:1px solid #EEE;
        border-radius:0.02rem;
        .num{
          display:block;
          font-size:0.12rem;
          transform:translate(3.1rem, -0.06rem);
        }
        .percent{
          position:absolute;
          left:0;
          top:0;
          width:3rem;
          height:0.05rem;
          border-radius:0.02rem;
          background:#90CEFF;
        }
      }
    }
    .add-more{
      padding:0.2rem;
      border:1px solid #EEE;
      border-top:none;
      dt{
        display:inline-block;
        margin-right:0.1rem;
      }
      dd{
        display:inline-block;
        margin-right:0.1rem;
        padding:0 0.1rem;
        line-height:0.25rem;
        border:1px solid #EEE;
        border-radius:0.05rem;
        font-size:0.12rem;
        cursor:pointer;
        &:hover{
          color:#409EFF;
          border-color:#409EFF;
        }
      }
    }
    .next{
      margin:0.1rem auto 0.2rem 4rem;
    }
  }
}
