/**
 * Created by army8735 on 2017/11/5.
 */
/**
 * Created by army8735 on 2017/9/1.
 */
.circle .title {
  position: relative;
  padding: 0.3rem 0.2rem;
  background: url(//zhuanquan.xin/img/9a50c2a08935b9c9c0a9cbed22ce402a.jpg) no-repeat center;
  background-size: cover;
  border-bottom: 0.08rem solid #8BBDE1;
}
.circle .title .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.circle .title .profile .pic {
  position: relative;
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
}
.circle .title .profile .pic img {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #FFF;
  border-radius: 100%;
}
.circle .title .profile .txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.circle .title .profile .txt h1 {
  font-size: 0.2rem;
  font-weight: 400;
}
.circle .title .profile .txt .rel {
  position: relative;
  margin-top: 0.1rem;
}
.circle .title .profile .txt .rel .join {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 0 0.2rem;
  line-height: 0.32rem;
  background: #5D99C4;
  color: #FFF;
  border-radius: 0.1rem;
  cursor: pointer;
}
.circle .title .profile .txt .rel .join:hover {
  text-decoration: underline;
}
.circle .title .profile .txt .rel .join.joined {
  background: #919191;
}
.circle .title .profile .txt .rel .count {
  display: inline-block;
  padding-left: 0.25rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAcBAMAAACJyGLdAAAALVBMVEUAAABOj7FPj7BPjrFTjrJQk7RVqtVPj7BPjrFPjrBOj7FOj7FPj7BOkLFOjrDuK4IRAAAADnRSTlMAkvPVKxsGbPLZvbabTnE2pcgAAACPSURBVBjTYwABRyNlEQYoSHwHBGIQNts6EOdVApjD+A4MBMAcPwjnCZgjB+E8BHPsIJzHYI4ehPMInYNQhm4Awmh0SxHOQXMohhdYqydpbg+Ass+BlL2B8G5ATOsFsdnfQUEBkHMPxnkL1NEH47wIYOB5BwcHGOIQnKcMdQjOc4Z9CM5rhnkIzkuIp6EeBwBZRL6oHobQRQAAAABJRU5ErkJggg==) no-repeat 0.05rem center;
  background-size: 0.12rem auto;
  line-height: 0.32rem;
}
.circle .title .intro {
  margin-top: 0.2rem;
  padding-top: 0.1rem;
  font-size: 0.12rem;
  color: #919191;
  border-top: 1px solid #C2D8E4;
}
.circle .post-list {
  margin-top: 0.2rem;
  padding: 0 0.1rem;
}
.circle .post-list ol li > .profile {
  padding-left: 0.12rem;
}
.circle .post-list ol li > .profile .pic {
  float: left;
  margin-right: 0.2rem;
  width: 0.48rem;
  height: 0.48rem;
  border-radius: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.circle .post-list ol li > .profile .txt {
  float: left;
  line-height: 0.48rem;
}
.circle .post-list ol li > .profile .txt .name {
  margin-right: 0.1rem;
  font-size: 0.16rem;
  vertical-align: middle;
}
.circle .post-list ol li > .profile .txt .time {
  font-size: 0.12rem;
  color: #919191;
  vertical-align: middle;
}
.circle .post-list ol li.author > .profile .txt .name {
  color: #EC0;
}
.circle .post-list ol li > .wrap {
  position: relative;
  display: inline-block;
  min-width: 2rem;
  max-width: 100%;
  margin: 0.15rem 0;
  padding: 0.1rem;
  background: #FFF;
  border: 1px solid #EDF3F7;
  border-radius: 0.1rem;
}
.circle .post-list ol li > .wrap .t {
  display: block;
  margin-bottom: 0.1rem;
  font-size: 0.14rem;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.circle .post-list ol li > .wrap .arrow {
  position: absolute;
  left: 0.3rem;
  top: -1px;
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border-top: 1px solid #FFF;
}
.circle .post-list ol li > .wrap .arrow:after {
  position: absolute;
  left: 0;
  top: -0.06rem;
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border: 1px solid #EDF3F7;
  border-left: none;
  border-bottom: none;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  content: ' ';
}
.circle .post-list ol li > .wrap .con {
  position: relative;
  max-height: 0.7rem;
  font-size: 0.13rem;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.8;
  overflow: hidden;
}
.circle .post-list ol li > .wrap .con .placeholder {
  display: inline-block;
  width: 0.7rem;
  height: 0.1rem;
}
.circle .post-list ol li > .wrap .fn {
  position: relative;
  height: 0.24rem;
}
.circle .post-list ol li > .wrap .fn .more {
  font-size: 0.14rem;
  color: #4E8EB0;
  line-height: 0.24rem;
}
.circle .post-list ol li > .wrap .fn .btn {
  position: absolute;
  top: 0;
  right: 0;
}
.circle .post-list ol li > .wrap .fn .btn li {
  float: left;
  margin-right: 0.1rem;
  height: 0.24rem;
  line-height: 0.24rem;
  cursor: pointer;
}
.circle .post-list ol li > .wrap .fn .btn li:last-child {
  margin-right: 0;
}
.circle .post-list ol li > .wrap .fn .btn li.like {
  padding-left: 0.25rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAYFBMVEUAAABPj7BRkrdPj7BOj7FOjrFPj7FPj7FPj7FeoddOj7FOj7FPj7FPj7JOkLFQj7JPkbROjrFOj7FOj7FTkLVSkrVVm8FOj7FPkLRQkLJQk7ZPjrFOj7FQkbNQj79OjrA+G1nSAAAAH3RSTlMA5Rz0vfnWyF0Ep5SBcWVJOu3FtiEZC6xHNCS+S0MQ/NcySwAAAOhJREFUSMftVFcOgzAUC7Nlr1Kg693/ljWQKkWkyL9F+MdC2IrfSNQOca4DCcK4ZPWpaHRXSn8J5IM6ogKJQcoaahWVIThomUgCoGDXAWeKQANhAs7AJ8bQQxiCb2CPKduF0FHA2C6ms4M+IRLGoLPHuvpKEeh0d87gO2NwIBzACTc505xxcj05aR/8kiW8U26TmyRPWcFfbEqB7E6hlI8/D3yXYnEsa50HVoHc6Shv7fhOJRNmti5Ao3eLMJiV8UiDURyGw/AXBtt68xfIXFHwBnLLIxBv6H3r0dVvfWsvLtap1g/ZjvAGooBFiMj5dcEAAAAASUVORK5CYII=) no-repeat 0 center;
  background-size: contain;
}
.circle .post-list ol li > .wrap .fn .btn li.like.has {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAUVBMVEUAAABPj7BOj7FQj7JSkrZPjrBPkLJOj7FOj7FOjrFOj7FOkLJQkLVSkrRTmbljnLhOjrFPj7BOj7FPj7BOjrFPj7JOkLFPkbBOkLFPkbROjrDNvRsSAAAAGnRSTlMA5KVJHO1Z+PTdxmcuIhQJ68ywmIyEdVE+OlgeqyAAAACVSURBVEjH7dTJCoMwFIXh3ljntnYezvs/aNGcjZCWcwUXQv7VRfIhISS73KJCDaC5yesrxHovaFUwlBSVKh4EFxUcwI4iOIG91/pDj9hZPjiCqwpagqd3zx8RvBCrBxHcCbr/ywoDrBinDqks7OfApq/j1CBdOReY4pQueIF5ATLIYDPAvCD8uKKmXVE+ApzSj0BO7wu5flAIPUoDcgAAAABJRU5ErkJggg==);
}
.circle .post-list ol li > .wrap .fn .btn li.favor {
  padding-left: 0.25rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAjVBMVEUAAABOj7FhnslOj7FOj7FTkrRPj7FOj7FOj7FPj7FPj7FPj7JQj7JRkrRUlbpOjrFRkLNYp8RPj7FOjrFOj7FOj7FPj7FOj7FPj7FQkLNRkLJTk7VZm7dPj7FOj7JPkbNQj7JOj7FPj7FOj7FOj7FPkLJRjrFQkbFTk7dPj7FPkLBOkLNPj7BPkLBOjrDjTRKgAAAALnRSTlMA+Abq3yHHsquYhXhQKRHRMAjx2s27n4uAQTobDJJpWkbk1a6mY183F8FuV2te+LJIFwAAAdtJREFUSMfFVdmCgjAM5BLlkvsWxAu8tv//eduUwwot4svuPEhNZhqaNEH4N+y+o6c2ku9f8BsRYRjLBTYCiKulfBO10JYKVExWIMR14YkRhgMKfZkgxNS18MS/3qLkOhAgE1x5aaI2mHjDTwM/ZfczfwUBKrzYenhRfhZomGaTVQzJkj7QpQsE2JN1DvWOtjzqtqn10xE4yJeGYBAkLMo0H723fpPRC2m/B2X0Ai0d+LWIKIiPwWEpiEbU70/zD9qK7orEphWX1lq2G9sb/aeZHlGyTCNSPcJZvwRiKswjP2LWiSqVks+ne0O9kqCTXM4qzkBRpbe/x5nbH5Etr6OANreo2uSlpTWYAo6iIHxI90TBbJiY1Gc8EdwQzBsGvwaHbE3s7g0czTShMosP2AXYUzBnjuhwx5E6sSb8AZUxBTp/FtTktoxxJ/eaiZg5uioSlwkoxZ45RWS2wMcuRjqgvZhXwEUYbtebRpFU1OzPeCNSaVchAvjmMAkvLMG+68HVGfVQs64QMUugE8e1EBGFtdVuxBvCz8RriaERdULNhObifRY6UlDBwU+wbG0HbtsClL4YmdqbgplPoXyXKJvfGg3u1fCS96aTygP0FWfoW4/KnTZQ9nCEP8Uv34hZikjvoCEAAAAASUVORK5CYII=) no-repeat 0 center;
  background-size: contain;
}
.circle .post-list ol li > .wrap .fn .btn li.favor.has {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAe1BMVEUAAABPjrBOjrFOj7FOj7FPjrBOj7FUl7pPj7FPj7JOkLJQkbVgn7xPj7FOj7FPj7FPkLFQj7JPjrNSlLRPjrBOj7FOjrFOj7JOj7FPj7JQj7JQkLJQkLJQkbRSkrRRkrVdorlOj7FOj7FOj7FPj7FPj7FTlrdPjrBOjrB0iSnTAAAAKHRSTlMA/Pfw7OG4EJViMi4I87GIdVVNG9nTpY6DbV1CPTgoIwvlxcKeaBd4XIqMJAAAARpJREFUSMftlNuWQ0AQRSs0mhaECEaM3Kf+/wtnjZFG0kXlNSv7+eyuRV3gg6Y9r3cH4BNuEXEHfCr8Q/EFB/GlEl/YsWq5Qo7/SGY+xR7rxhNOeCdm5feosT2O4OLADyO/wRH293zYa/wIJ1hyo4wzckuTy0mgGceVVR1OXo5WuIRdjIQIOSSDYLEEdxDOLKEchIBTwhl3MV3+6GM7bdeSIXQLeYZQz1szZ9gBPOPP5BswcUWC9R7MSELwgSAgCgBFZha2pNAwKrD+U0YJBSHU9PqbudIn1UxB5A/k5pBtIHDIo63Jq7QUqAnNQqlf7GbBi/UeEucs7kczuT+YXfqRVzNX2IrHq6vcbjZCMJOIo3zsah2JPID34hdPoX3jbG/x1AAAAABJRU5ErkJggg==);
}
.circle .post-list ol li > .wrap .fn .btn li.share {
  width: 0.24rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAS1BMVEUAAABPj7BPj7BPkLNPj7BSkrZPj7L///9Oj7FQj7JPjrBPj7NPj7FPj7FUlrpPjrBPkLNOj7FPj7FSj7NPj7FQj7FPjrBQkLJOjrDxm4eDAAAAGHRSTlMA/ONX8htmAb1Jyk/IphG1QN6cMrSAeFPbgq8vAAAA30lEQVRIx92TWQ7DIAxEEwKG7FuXuf9JC0VVYymCWGo/kvk088CYobi2aqVaEaCAspIBQqItpUT1R8I++1njoz7rnxow5fx3QAQ8mDnfUg2vcpmGo5cO/ev1+JDaYFoFD9d71yKJxuxtkyR82gODJN587r8DLHUa0LQH1MqvdGS3NePwVjnsACquObPZ3yEPwH3PIAQlWooilobRpC5tRl/u2OxNekomNMBHmQRi/SyAApQI8BmtBUDUGYFtNLh4NFj4bozIhI9wSMQ+UF7Osi+a97OeLTU65dYN2eIyegFGOizXCfFfSgAAAABJRU5ErkJggg==) no-repeat center;
  background-size: contain;
}
