/**
 * Created by army8735 on 2017/10/27.
 */
/**
 * Created by army8735 on 2017/9/1.
 */
/**
 * Created by army8735 on 2017/8/9.
 */
.cp-hotauthor {
  position: relative;
}
.cp-hotauthor h4 {
  position: relative;
  margin-left: 0.1rem;
  padding-left: 0.05rem;
  font-size: 0.12rem;
}
.cp-hotauthor h4:before {
  position: absolute;
  left: 0;
  top: 0.02rem;
  bottom: 0.02rem;
  width: 0.02rem;
  background: #5D99C4;
  content: ' ';
  border-radius: 0.05rem;
}
.cp-hotauthor .list {
  margin-top: 0.05rem;
  min-height: 0.82rem;
  overflow: auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.cp-hotauthor .list .c {
  width: 999rem;
}
.cp-hotauthor .list .c .empty {
  margin-left: 0.12rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #E1E3E4;
  border-radius: 100%;
}
.cp-hotauthor .list .c ul {
  display: inline-block;
  padding-left: 0.1rem;
}
.cp-hotauthor .list .c ul li {
  display: inline-block;
  margin-right: 0.05rem;
  width: 0.75rem;
  vertical-align: top;
  overflow: hidden;
}
.cp-hotauthor .list .c ul li .pic {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #E1E3E4;
  border-radius: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.cp-hotauthor .list .c ul li .pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.cp-hotauthor .list .c ul li .pic b {
  position: absolute;
  display: block;
  width: 0.18rem;
  height: 0.18rem;
}
.cp-hotauthor .list .c ul li .pic b:nth-of-type(1) {
  right: 0;
  bottom: 0;
  z-index: 3;
}
.cp-hotauthor .list .c ul li .pic b:nth-of-type(2) {
  right: -0.09rem;
  bottom: 0.1rem;
  z-index: 2;
}
.cp-hotauthor .list .c ul li .pic b:nth-of-type(3) {
  right: -0.04rem;
  bottom: 0.22rem;
}
.cp-hotauthor .list .c ul li .txt {
  display: block;
  margin-top: 0.04rem;
  font-size: 0.12rem;
  color: #2A2A2A;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.cp-hotauthor .list .c ul li .info {
  font-size: 0.12rem;
  color: #B1C0C9;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.my > .profile {
  margin-top: 0.1rem;
}
.my > .profile h4 {
  position: relative;
  margin-bottom: 0.1rem;
  margin-left: 0.1rem;
  padding-left: 0.05rem;
  font-size: 0.12rem;
}
.my > .profile h4:before {
  position: absolute;
  left: 0;
  top: 0.02rem;
  bottom: 0.02rem;
  width: 0.02rem;
  background: #5D99C4;
  content: ' ';
  border-radius: 0.05rem;
}
.my > .profile .pic {
  position: relative;
  float: left;
  margin-left: 0.1rem;
  width: 0.75rem;
  height: 0.75rem;
  overflow: hidden;
}
.my > .profile .pic img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.my > .profile .pic .upload {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.24rem;
  height: 0.24rem;
  background: rgba(0, 0, 0, 0.1) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAALVBMVEUAAABhns5emsRemsVemsVdmcRem8VlmsxdmsVdmcRemsRemcVemsRfmcVdmcRgmA3NAAAADnRSTlMAFdS1dOY+GPmyxH3qRsbsh50AAACoSURBVDjLYxi6QKIRuzij3iMBrBJC794pYteg9wirFqFHcg/1FLFpUOR7IIRFC9cjAb4HjHoLMCSYFzLwPWCQMsBiCVACSAwaCV6bdwYICeZ3kQlQiX3vUCXevYaIs71wRDWqpA+ihfkJuh1+E8AU63N0iboAOB+dQTMJZgMMCRigqwQiSBAAESScT9Al/CZAg90dJgIPdlhEoYHXUBVsU1GEQVE75AAAvPxjgyfkhwAAAAAASUVORK5CYII=) no-repeat center;
  background-size: contain;
  border-radius: 0.05rem;
}
.my > .profile .pic .upload input {
  height: 100%;
  opacity: 0;
}
.my > .profile .txt {
  float: left;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}
.my > .profile .txt strong {
  font-size: 0.18rem;
  font-weight: 400;
}
.my > .profile .txt input {
  width: 1rem;
  font-size: 0.18rem;
  border: 1px solid #EEE;
}
.my > .profile .txt .edit {
  display: inline-block;
  margin-left: 0.1rem;
  width: 0.2rem;
  height: 0.2rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAOVBMVEUAAABtkrZPjrBTjrJOj7FPjrFOj7BPj7NPj7BPj7JOj7FPj7BOj7JOj7FOj7FPkbRSlLNiibFOjrBxHPmDAAAAEnRSTlMAB+ortrT7SuSCpuzazYY6Mg3KTV+QAAAAq0lEQVQ4y83P2wqDMBCE4Zi4OXioOu//sE2hMEhwN0gL/tcfO6z7YVvoYoMArx43Yo6UmvMhRVjrR67OhRmbcW9BTC54iLkbkZPHOFjO79X2uOD2iNzjgsdydDnuCsDk2jmcYesIjV1CwxEajtB2hAJAFNdAxXG6cSoUOhUmOh0WFDoNTpgKnfL1ippUZ8G8TiU1hPDcg6BIJwRuQMFFcg9q/RWafaHYTj7uDaz+Fh3uQPLUAAAAAElFTkSuQmCC) no-repeat center;
  background-size: contain;
  text-indent: 999rem;
  overflow: hidden;
  cursor: pointer;
}
.my > .warn {
  margin-top: 0.2rem;
  padding: 0 0.1rem;
}
.my > .warn > .t {
  position: relative;
  padding-right: 1rem;
}
.my > .warn > .t .pic {
  float: left;
  display: block;
  margin-right: 0.05rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.my > .warn > .t .txt {
  float: left;
  line-height: 0.3rem;
}
.my > .warn > .t .txt .name {
  display: inline-block;
  margin-right: 0.1rem;
}
.my > .warn > .t .txt .time {
  display: inline-block;
  color: #B1C0C9;
  font-size: 0.12rem;
}
.my > .warn > .c {
  display: inline-block;
  max-width: 100%;
  position: relative;
  margin: 0.1rem 0;
  padding: 0.05rem 0.1rem;
  background: #FFF;
  border: 1px solid #D9D9D9;
  border-radius: 0.1rem;
  color: #B1C0C9;
}
.my > .warn > .c .arrow {
  position: absolute;
  left: 0.1rem;
  top: -1px;
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border-top: 1px solid #FFF;
}
.my > .warn > .c .arrow:after {
  position: absolute;
  left: 0;
  top: -0.06rem;
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border: 1px solid #D9D9D9;
  border-left: none;
  border-bottom: none;
  -webkit-transform: scaleX(0.7) rotateZ(-45deg);
          transform: scaleX(0.7) rotateZ(-45deg);
  content: ' ';
}
.my > .warn > .c > pre {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.my > .warn > .c > pre .placeholder {
  display: inline-block;
  width: 0.7rem;
  height: 0.1rem;
}
.my .cp-hotauthor {
  margin-top: 0.1rem;
}
.my > .loginout {
  display: block;
  margin: 0.2rem auto;
  width: 1.5rem;
  line-height: 0.42rem;
  font-size: 0.16rem;
  color: #FFF;
  border-radius: 0.12rem;
  background: #B65A58;
  text-align: center;
}
.my > .loginout:hover {
  color: #0AE;
}
