/**
 * Created by army8735 on 2017/10/27.
 */
/**
 * Created by army8735 on 2017/9/1.
 */
/**
 * Created by army8735 on 2017/8/9.
 */
.cp-hotauthor {
  position: relative;
}
.cp-hotauthor h4 {
  position: relative;
  margin-left: 0.1rem;
  padding-left: 0.05rem;
  font-size: 0.12rem;
}
.cp-hotauthor h4:before {
  position: absolute;
  left: 0;
  top: 0.02rem;
  bottom: 0.02rem;
  width: 0.02rem;
  background: #5D99C4;
  content: ' ';
  border-radius: 0.05rem;
}
.cp-hotauthor .list {
  margin-top: 0.05rem;
  min-height: 0.82rem;
  overflow: auto;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.cp-hotauthor .list .c {
  width: 999rem;
}
.cp-hotauthor .list .c .empty {
  margin-left: 0.12rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #E1E3E4;
  border-radius: 100%;
}
.cp-hotauthor .list .c ul {
  display: inline-block;
  padding-left: 0.1rem;
}
.cp-hotauthor .list .c ul li {
  display: inline-block;
  margin-right: 0.05rem;
  width: 0.75rem;
  vertical-align: top;
  overflow: hidden;
}
.cp-hotauthor .list .c ul li .pic {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 0.6rem;
  height: 0.6rem;
  background-color: #E1E3E4;
  border-radius: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.cp-hotauthor .list .c ul li .pic img {
  display: block;
  width: 100%;
  height: 100%;
}
.cp-hotauthor .list .c ul li .pic b {
  position: absolute;
  display: block;
  width: 0.18rem;
  height: 0.18rem;
}
.cp-hotauthor .list .c ul li .pic b:nth-of-type(1) {
  right: 0;
  bottom: 0;
  z-index: 3;
}
.cp-hotauthor .list .c ul li .pic b:nth-of-type(2) {
  right: -0.09rem;
  bottom: 0.1rem;
  z-index: 2;
}
.cp-hotauthor .list .c ul li .pic b:nth-of-type(3) {
  right: -0.04rem;
  bottom: 0.22rem;
}
.cp-hotauthor .list .c ul li .txt {
  display: block;
  margin-top: 0.04rem;
  font-size: 0.12rem;
  color: #2A2A2A;
  overflow: hidden;
}
.cp-hotauthor .list .c ul li .txt .name {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cp-hotauthor .list .c ul li .txt .fans {
  display: inline-block;
  margin-right: 0.1rem;
  padding-left: 0.18rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAMFBMVEUAAABOj7FPj7BPjrFTjrJQk7RVqtVPjrFPjrBOj7FOj7FPj7BPj7BOkLFPkLBOjrBbySdDAAAAD3RSTlMAkvPVKxsG8tm9tptrTm4ZX2w+AAAAl0lEQVQoz2MgFjgaKYsg8xP/A4EYgs82HyTwMwEuwPgfDATgAv4QgS9wAXmIwEe4gD1E4DNcQB8i8AlTAFMLpqGY1mI6DNPpCM/h8z7rqSaNNQFI/P0gLb8RItchttTC+Hz/oeABVOA+TOAv1IR6mMB3iCnc/+FgA1ggHiHwFSxwHiHwByywHiHwCyzQjxD4gQhAeCASBgCLb8ub7AnN2wAAAABJRU5ErkJggg==) no-repeat 0 center;
  background-size: 0.16rem auto;
  color: #919191;
  font-size: 0.1rem;
}
.cp-hotauthor .list .c ul li .txt .comment {
  display: inline-block;
  padding-left: 0.18rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAMFBMVEUAAABSkrZPjrBOj7FYlbVOj7FPjrBPj7FPj7BQj7FQj7JVl7Ngn79Oj7FOkLFOjrAcmjw0AAAAD3RSTlMAHPK2EufZy695YBsIqlX0I0HVAAAAm0lEQVQoz2MgDni16f///yljCYx/EsgFgU9zIHzu+v9Q8H0DWGDrfziIBvF5gArgSg4ABTj/I4EJQAEnZAEVoMB6ZIFfQIF+ZIEfQIH8/4bC/2H4G1BA/78A438Y/oQhgKEFw1AMazEchuF0DM+hex8jgNCDECOQEeD+//9/USLC9f//EBQBvv//H6DG1X2oDoQeqA6EHpgOwgAAV9Lxdfs5vjgAAAAASUVORK5CYII=) no-repeat 0 center;
  background-size: 0.16rem auto;
  color: #919191;
  font-size: 0.1rem;
}
.cp-hotauthor .list .c ul li .info {
  font-size: 0.12rem;
  color: #B1C0C9;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/**
 * Created by army8735 on 2017/11/13.
 */
.cp-hotpost {
  margin-top: 0.1rem;
  padding: 0 0.1rem;
}
.cp-hotpost .list li > .profile {
  position: relative;
  padding-left: 0.12rem;
}
.cp-hotpost .list li > .profile .pic {
  float: left;
  margin-right: 0.2rem;
  width: 0.48rem;
  height: 0.48rem;
  border-radius: 100%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.cp-hotpost .list li > .profile .txt {
  float: left;
  line-height: 0.48rem;
}
.cp-hotpost .list li > .profile .txt .name {
  margin-right: 0.1rem;
  font-size: 0.16rem;
  vertical-align: middle;
}
.cp-hotpost .list li > .profile .txt .time {
  font-size: 0.12rem;
  color: #919191;
  vertical-align: middle;
}
.cp-hotpost .list li > .profile .circle {
  position: absolute;
  top: 0;
  right: 0;
}
.cp-hotpost .list li > .profile .circle li {
  display: inline-block;
  padding: 0 0.1rem;
  line-height: 0.24rem;
  background: #8BBDE1;
  border-radius: 0.24rem;
  color: #FFF;
}
.cp-hotpost .list li > .profile .circle li a {
  color: #FFF;
}
.cp-hotpost .list li.author > .profile .txt .name {
  color: #EC0;
}
.cp-hotpost .list li > .wrap {
  position: relative;
  margin: 0.15rem 0;
  padding: 0.1rem;
  background: #FFF;
  border: 1px solid #EDF3F7;
  border-radius: 0.1rem;
}
.cp-hotpost .list li > .wrap .t {
  display: block;
  margin-bottom: 0.1rem;
  font-size: 0.14rem;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.cp-hotpost .list li > .wrap .arrow {
  position: absolute;
  left: 0.3rem;
  top: -1px;
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border-top: 1px solid #FFF;
}
.cp-hotpost .list li > .wrap .arrow:after {
  position: absolute;
  left: 0;
  top: -0.06rem;
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border: 1px solid #EDF3F7;
  border-left: none;
  border-bottom: none;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  content: ' ';
}
.cp-hotpost .list li > .wrap .con {
  position: relative;
  font-size: 0.14rem;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  line-height: 1.8;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cp-hotpost .list li > .wrap .con a {
  margin: 0 0.02rem;
  color: #0AE;
}
.cp-hotpost .list li > .wrap .con strong {
  margin: 0 0.02rem;
  font-weight: 400;
  color: #0AE;
}
.cp-hotpost .list li > .wrap .con .more {
  display: inline-block;
  margin-left: 0.05rem;
  font-size: 0.13rem;
  color: #4E8EB0;
  line-height: 1.8;
  white-space: nowrap;
}
.cp-hotpost .list li > .wrap .imgs li {
  float: left;
  margin: 0.1rem 0.1rem 0 0;
  width: 1.2rem;
  height: 1.2rem;
  background: #B1C0C9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.1rem;
  overflow: hidden;
}
.cp-hotpost .list li > .wrap .imgs li.all {
  position: relative;
}
.cp-hotpost .list li > .wrap .imgs li.all:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: ' ';
}
.cp-hotpost .list li > .wrap .imgs li.all a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1.2rem;
  text-align: center;
  color: #FFF;
}
.cp-hotpost .list li > .wrap .btn {
  margin-top: 0.1rem;
  text-align: right;
}
.cp-hotpost .list li > .wrap .btn li {
  display: inline-block;
  margin-right: 0.1rem;
  height: 0.24rem;
  line-height: 0.24rem;
  vertical-align: middle;
}
.cp-hotpost .list li > .wrap .btn li:last-child {
  margin-right: 0;
}
.cp-hotpost .list li > .wrap .btn li.like {
  padding-left: 0.3rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAYFBMVEUAAABPj7BRkrdPj7BOj7FOjrFPj7FPj7FPj7FeoddOj7FOj7FPj7FPj7JOkLFQj7JPkbROjrFOj7FOj7FTkLVSkrVVm8FOj7FPkLRQkLJQk7ZPjrFOj7FQkbNQj79OjrA+G1nSAAAAH3RSTlMA5Rz0vfnWyF0Ep5SBcWVJOu3FtiEZC6xHNCS+S0MQ/NcySwAAAOhJREFUSMftVFcOgzAUC7Nlr1Kg693/ljWQKkWkyL9F+MdC2IrfSNQOca4DCcK4ZPWpaHRXSn8J5IM6ogKJQcoaahWVIThomUgCoGDXAWeKQANhAs7AJ8bQQxiCb2CPKduF0FHA2C6ms4M+IRLGoLPHuvpKEeh0d87gO2NwIBzACTc505xxcj05aR/8kiW8U26TmyRPWcFfbEqB7E6hlI8/D3yXYnEsa50HVoHc6Shv7fhOJRNmti5Ao3eLMJiV8UiDURyGw/AXBtt68xfIXFHwBnLLIxBv6H3r0dVvfWsvLtap1g/ZjvAGooBFiMj5dcEAAAAASUVORK5CYII=) no-repeat 0 center;
  background-size: contain;
}
.cp-hotpost .list li > .wrap .btn li.like.has {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAUVBMVEUAAABPj7BOj7FQj7JSkrZPjrBPkLJOj7FOj7FOjrFOj7FOkLJQkLVSkrRTmbljnLhOjrFPj7BOj7FPj7BOjrFPj7JOkLFPkbBOkLFPkbROjrDNvRsSAAAAGnRSTlMA5KVJHO1Z+PTdxmcuIhQJ68ywmIyEdVE+OlgeqyAAAACVSURBVEjH7dTJCoMwFIXh3ljntnYezvs/aNGcjZCWcwUXQv7VRfIhISS73KJCDaC5yesrxHovaFUwlBSVKh4EFxUcwI4iOIG91/pDj9hZPjiCqwpagqd3zx8RvBCrBxHcCbr/ywoDrBinDqks7OfApq/j1CBdOReY4pQueIF5ATLIYDPAvCD8uKKmXVE+ApzSj0BO7wu5flAIPUoDcgAAAABJRU5ErkJggg==);
}
.cp-hotpost .list li > .wrap .btn li.comment {
  padding-left: 0.3rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAASFBMVEUAAABOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBOjrBWNmQoAAAAF3RSTlMA5vMGppUcDONIGO1i2ce/sYImLZKgPjCJr00AAAEQSURBVEjH7ZTbsoMgDEU3IKYo1Kpt8/9/ehpGxvEIHfPe9eBELskOhOAHXPBTsrxh0+SDQ5vBWz5h/dDyPluuYmdXdX/nJvdKkPXGws2HhbBBS/Db8HrynydMdCeh0eQdw7/hrOdBqECPrOroapaxJxo8ZXY+CLLiH00khh2w40U/oQlJHh57BhIg4gtRQuxZBDkGhy84OcRwUOSBvjOm64GzVZYUpry9H/nD2KNmiYgJhfT5W9BxpkPNWj7fhILkTDCcMahZJFmrN6glqZPWH6v+4vSloS8+fXnrH5D+ieqbgL7N6BuZvlXqm7G+3e+8du8vXIFSWZ8Il1jtpmjFRSJnIi4TR+YxQgG93w4/Cn8RBjEJVH4tMwAAAABJRU5ErkJggg==) no-repeat 0 center;
  background-size: contain;
}
.cp-hotpost .list li > .wrap .btn li.del {
  width: 0.24rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAKlBMVEUAAABSkrZPj7BOj7FPj7BQj7JPj7BPjrBPjrFOkLFPkbBPj7BPj7BOjrA5djQxAAAADXRSTlMAHOO220nzpYpVUca/ySeNJwAAAIpJREFUOMtjoCeQvgsGGzEkzkIk7iCLBd1FA6pQCV10iUs4JXAbRT4IwmWQLqrVCIBqN3EShsIwjCYhwAjDaBIIPCox8BK5yBLXkCR8kSWuIEnUIkftdSSJuciJ4SaSBAty6nFAkuBClliAnHh7EeI3UFI1B0KiATW9L4GJe6HnhOluIOGUSgY6AgAJ9EN29KBZkwAAAABJRU5ErkJggg==) no-repeat 0 center;
  background-size: contain;
}
.cp-hotpost .empty,
.cp-hotpost .message {
  text-align: center;
  color: #919191;
}
/**
 * Created by army8735 on 2017/9/21.
 */
.cp-page {
  position: relative;
}
.cp-page > * {
  display: inline-block;
  vertical-align: middle;
}
.cp-page .prev,
.cp-page .next {
  height: 0.2rem;
  text-align: center;
  line-height: 0.2rem;
}
.cp-page .prev.dis,
.cp-page .next.dis {
  opacity: 0.5;
  color: #2D4D67;
  text-decoration: none;
  cursor: default;
}
.cp-page .prev b,
.cp-page .next b {
  display: inline-block;
  width: 0.06rem;
  height: 0.08rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQBAMAAADQT4M0AAAAJFBMVEUAAABemsVdmcZdmcVhns5dmsVemsRmmcxlotFgn99emsVdmcTmznu0AAAAC3RSTlMA6lWqFd/RFBAIq5oLHJAAAAA5SURBVAjXYwCDGWCSSRREsljvBlGKu0GU824QxSQNotitd4Mott3IFPvq3TAlMA0w7VDDoEZDLQIAcv8eK2Yw3vgAAAAASUVORK5CYII=) no-repeat;
  background-size: contain;
}
.cp-page .prev b {
  margin-right: 0.02rem;
}
.cp-page .next b {
  margin-left: 0.02rem;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.cp-page ol {
  margin: 0 0.1rem;
  padding: 0;
}
.cp-page li {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  text-align: center;
  line-height: 0.2rem;
}
.cp-page li span {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 0.18rem;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  border-radius: 0.04rem;
}
.cp-page > span {
  margin: 0 0.1rem;
}
.cp-page .num {
  margin-right: 0.05rem;
  padding: 0 0.05rem;
  width: 0.24rem;
  height: 0.18rem;
  border: 1px solid #D9D9D9;
  border-radius: 0.04rem;
  -webkit-appearance: textfield;
}
.cp-page .sub {
  border: none;
  background: transparent;
  cursor: pointer;
}
.cp-page .sub:hover {
  color: #0AE;
}
.cp-page input::-webkit-outer-spin-button,
.cp-page input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#page .my h4 {
  position: relative;
  margin: 0.1rem;
  padding-left: 0.05rem;
  font-size: 0.12rem;
}
#page .my h4:before {
  position: absolute;
  left: 0;
  top: 0.02rem;
  bottom: 0.02rem;
  width: 0.02rem;
  background: #5D99C4;
  content: ' ';
  border-radius: 0.05rem;
}
#page .my > .profile {
  margin-top: 0.1rem;
}
#page .my > .profile .pic {
  position: relative;
  float: left;
  margin-left: 0.1rem;
  width: 0.75rem;
  height: 0.75rem;
  overflow: hidden;
}
#page .my > .profile .pic img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
#page .my > .profile .pic .upload {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.24rem;
  height: 0.24rem;
  background: rgba(0, 0, 0, 0.1) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAALVBMVEUAAABhns5emsRemsVemsVdmcRem8VlmsxdmsVdmcRemsRemcVemsRfmcVdmcRgmA3NAAAADnRSTlMAFdS1dOY+GPmyxH3qRsbsh50AAACoSURBVDjLYxi6QKIRuzij3iMBrBJC794pYteg9wirFqFHcg/1FLFpUOR7IIRFC9cjAb4HjHoLMCSYFzLwPWCQMsBiCVACSAwaCV6bdwYICeZ3kQlQiX3vUCXevYaIs71wRDWqpA+ihfkJuh1+E8AU63N0iboAOB+dQTMJZgMMCRigqwQiSBAAESScT9Al/CZAg90dJgIPdlhEoYHXUBVsU1GEQVE75AAAvPxjgyfkhwAAAAAASUVORK5CYII=) no-repeat center;
  background-size: contain;
  border-radius: 0.05rem;
}
#page .my > .profile .pic .upload input {
  height: 100%;
  opacity: 0;
}
#page .my > .profile .txt {
  float: left;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}
#page .my > .profile .txt strong {
  font-size: 0.18rem;
  font-weight: 400;
}
#page .my > .profile .txt input {
  width: 1rem;
  font-size: 0.18rem;
  border: 1px solid #EEE;
}
#page .my > .profile .txt .edit {
  display: inline-block;
  margin-left: 0.1rem;
  width: 0.2rem;
  height: 0.2rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAOVBMVEUAAABtkrZPjrBTjrJOj7FPjrFOj7BPj7NPj7BPj7JOj7FPj7BOj7JOj7FOj7FPkbRSlLNiibFOjrBxHPmDAAAAEnRSTlMAB+ortrT7SuSCpuzazYY6Mg3KTV+QAAAAq0lEQVQ4y83P2wqDMBCE4Zi4OXioOu//sE2hMEhwN0gL/tcfO6z7YVvoYoMArx43Yo6UmvMhRVjrR67OhRmbcW9BTC54iLkbkZPHOFjO79X2uOD2iNzjgsdydDnuCsDk2jmcYesIjV1CwxEajtB2hAJAFNdAxXG6cSoUOhUmOh0WFDoNTpgKnfL1ippUZ8G8TiU1hPDcg6BIJwRuQMFFcg9q/RWafaHYTj7uDaz+Fh3uQPLUAAAAAElFTkSuQmCC) no-repeat center;
  background-size: contain;
  text-indent: 999rem;
  overflow: hidden;
  cursor: pointer;
}
#page .my > .warn {
  margin-top: 0.2rem;
  padding: 0 0.1rem;
}
#page .my > .warn > .t {
  position: relative;
  padding-right: 1rem;
}
#page .my > .warn > .t .pic {
  float: left;
  display: block;
  margin-right: 0.05rem;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
#page .my > .warn > .t .txt {
  float: left;
  line-height: 0.3rem;
}
#page .my > .warn > .t .txt .name {
  display: inline-block;
  margin-right: 0.1rem;
}
#page .my > .warn > .t .txt .time {
  display: inline-block;
  color: #B1C0C9;
  font-size: 0.12rem;
}
#page .my > .warn > .c {
  display: inline-block;
  max-width: 100%;
  position: relative;
  margin: 0.1rem 0;
  padding: 0.05rem 0.1rem;
  background: #FFF;
  border: 1px solid #D9D9D9;
  border-radius: 0.1rem;
  color: #B1C0C9;
}
#page .my > .warn > .c .arrow {
  position: absolute;
  left: 0.1rem;
  top: -1px;
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border-top: 1px solid #FFF;
}
#page .my > .warn > .c .arrow:after {
  position: absolute;
  left: 0;
  top: -0.06rem;
  display: block;
  width: 0.1rem;
  height: 0.1rem;
  border: 1px solid #D9D9D9;
  border-left: none;
  border-bottom: none;
  -webkit-transform: scaleX(0.7) rotateZ(-45deg);
          transform: scaleX(0.7) rotateZ(-45deg);
  content: ' ';
}
#page .my > .warn > .c > pre {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
#page .my > .warn > .c > pre .placeholder {
  display: inline-block;
  width: 0.7rem;
  height: 0.1rem;
}
#page .my .cp-hotauthor {
  margin-top: 0.1rem;
}
#page .my .cp-page {
  padding: 0 0.1rem;
  text-align: right;
}
#page .my .cp-page ol {
  margin: 0;
}
#page .my .cp-page .prev {
  position: relative;
  width: 0.2rem;
  height: 0.2rem;
  text-indent: 999rem;
  overflow: hidden;
  white-space: nowrap;
}
#page .my .cp-page .prev b {
  margin: 0;
  position: absolute;
  left: 0.07rem;
  top: 0.06rem;
}
#page .my .cp-page .next {
  position: relative;
  width: 0.2rem;
  height: 0.2rem;
  text-indent: 999rem;
  overflow: hidden;
  white-space: nowrap;
}
#page .my .cp-page .next b {
  margin: 0;
  position: absolute;
  left: 0.07rem;
  top: 0.06rem;
}
#page .my > .loginout {
  display: block;
  margin: 0.2rem auto;
  width: 1.5rem;
  line-height: 0.42rem;
  font-size: 0.16rem;
  color: #FFF;
  border-radius: 0.12rem;
  background: #B65A58;
  text-align: center;
}
#page .my > .loginout:hover {
  color: #0AE;
}
