/**
 * Created by army8735 on 2017/9/21.
 */

@import '../common/var';
@import '../component/hotpost/index';
@import '../component/page/index';
@import '../component/subcmt/index';
@import '../post/imageview';

#page > .my{
  padding-top:0.2rem;
  > .profile{
    .pic{
      position:relative;
      float:left;
      width:1.1rem;
      height:1.1rem;
      overflow:hidden;
      img{
        display:block;
        width:100%;
        height:100%;
        border-radius:100%;
      }
      .upload{
        position:absolute;
        right:0;
        bottom:0;
        width:0.24rem;
        height:0.24rem;
        background:rgba(0, 0, 0, 0.1) url(upload.png) no-repeat center;
        background-size:contain;
        border-radius:0.05rem;
        input{
          height:100%;
          opacity:0;
        }
      }
    }
    .txt{
      float:left;
      margin-left:0.3rem;
      margin-top:0.1rem;
      line-height:0.3rem;
    }
    .private{
      margin:0.1rem;
      line-height:0.22rem;
    }
    strong{
      display:inline-block;
      margin-right:0.1rem;
      font-size:0.18rem;
      font-weight:400;
      vertical-align:middle;
    }
    span{
      margin-right:0.1rem;
    }
    input{
      font-size:0.18rem;
      &.input2{
        margin-top:0.05rem;
        height:0.2rem;
        font-size:0.12rem;
      }
    }
    .edit{
      display:inline-block;
      width:0.2rem;
      height:0.2rem;
      background:url(edit.png) no-repeat center;
      background-size:contain;
      text-indent:999rem;
      overflow:hidden;
      cursor:pointer;
      transform:translateY(0.03rem);
      &.edit2{
        transform:translateY(0.03rem);
      }
      &.edit3{
        transform:translateY(0.06rem);
        vertical-align:top;
      }
    }
    .sign{
      display:inline-block;
      margin-right:0.1rem;
      height:0.2rem;
      line-height:0.2rem;
      color:@fourthTextColor;
      vertical-align:middle;
      &.empty{
        color:#CCC;
      }
    }
    label{
      display:inline-block;
      vertical-align:middle;
      color:@secondTextColor;
    }
    textarea{
      display:block;
      padding:0.05rem;
      width:5rem;
      resize:none;
      border:1px solid #CCC;
      border-radius:0.05rem;
    }
    .address{
      display:inline-block;
      margin-right:0.1rem;
      margin-top:0.1rem;
      color:@fourthTextColor;
      vertical-align:top;
      &.empty{
        color:#CCC;
      }
    }
  }
  > .bp{
    margin-top:0.1rem;
    font-size:0.14rem;
    small{
      font-size:0.12rem;
    }
  }
  > .warn{
    margin-top:0.2rem;
    padding:0 0.1rem;
    > .t{
      position:relative;
      padding-right:1rem;
      .pic{
        float:left;
        display:block;
        margin-right:0.05rem;
        width:0.3rem;
        height:0.3rem;
        border-radius:0.3rem;
        box-shadow:0 0 1px rgba(0, 0, 0, 0.3);
      }
      .txt{
        float:left;
        line-height:0.3rem;
        .name{
          display:inline-block;
          margin-right:0.1rem;
        }
        .time{
          display:inline-block;
          color:@secondTextColor;
          font-size:0.12rem;
        }
      }
    }
    > .c{
      display:inline-block;
      max-width:100%;
      position:relative;
      margin:0.1rem 0;
      padding:0.05rem 0.1rem;
      background:#FFF;
      border:1px solid #D9D9D9;
      border-radius:0.1rem;
      color:@secondTextColor;
      .arrow{
        position:absolute;
        left:0.1rem;
        top:-1px;
        display:block;
        width:0.1rem;
        height:0.1rem;
        border-top:1px solid #FFF;
        &:after{
          position:absolute;
          left:0;
          top:-0.06rem;
          display:block;
          width:0.1rem;
          height:0.1rem;
          border:1px solid #D9D9D9;
          border-left:none;
          border-bottom:none;
          transform:scaleX(0.7) rotateZ(-45deg);
          content:' ';
        }
      }
      > pre{
        word-break:break-all;
        word-wrap:break-word;
        white-space:pre-wrap;
        .placeholder{
          display:inline-block;
          width:0.7rem;
          height:0.1rem;
        }
      }
    }
  }
  > .c{
    margin-top:0.2rem;
    box-shadow:@boxShadow;
    border-radius:0.1rem;
    overflow:hidden;
    h4{
      padding:0 0.2rem;
      height:0.36rem;
      line-height:0.36rem;
      background:@mainColor;
      font-size:0.14rem;
      font-weight:400;
    }
    > .cp-hotpost{
      margin:0 0.1rem;
    }
    > .cp-page{
      padding:0.1rem;
      text-align:right;
    }
  }
  > .loginout{
    display:block;
    margin:0.2rem auto;
    width:1.5rem;
    line-height:0.42rem;
    font-size:0.16rem;
    color:#FFF;
    border-radius:0.12rem;
    background:#B65A58;
    text-align:center;
    &:hover{
      color:#0AE;
    }
  }
}