/**
 * Created by army8735 on 2017/10/28.
 */

@import '../common/var';
@import '../component/postlist/index';
@import '../component/comment/index';
@import '../component/commentbar/index';

#page > .post{
  .cp-comment{
    margin:0.1rem;
  }
  .cp-postlist{
    .list > li{
      border-bottom:none;
      .image{
        display:block;
        li{
          display:block;
          margin-right:0;
          width:auto;
          height:auto;
        }
      }
    }
  }
}
