/**
 * Created by army8735 on 2017/9/11.
 */

@import '../../d/common/var';
@import '../../d/component/comment/index';
@import '../../d/component/page/index';
@import '../component/subcmt/index';
@import './media';
@import '../../d/works/author';
@import '../../d/works/timeline';
@import '../../d/works/text';
@import '../../d/works/lyric';
@import '../../d/works/insp';
@import '../../d/works/poster';
@import './comment';
@import './photoalbum';
@import './musicalbum';
@import '../../d/works/playlist';
@import './imageview';
@import '../../d/works/describe';

body{
  padding-bottom:1rem;
}
.works{
  > .sel{
    position:relative;
    display:flex;
    margin-top:-0.3rem;
    padding:1px 0 0 0.1rem;
    height:0.3rem;
    box-sizing:border-box;
    text-align:center;
    overflow:hidden;
    li{
      position:relative;
      padding:0 0.2rem;
      height:100%;
      box-shadow:@tagShadow;
      border-top-left-radius:0.16rem;
      border-top-right-radius:0.16rem;
      color:@secondTextColor;
      background:rgba(255,255,255,0.7);
      line-height:0.32rem;
      cursor:pointer;
      font-size:0.12rem;
      &:first-child{
        z-index:9;
      }
      &:nth-child(2) {
        z-index:8;
      }
      &:nth-child(3) {
        z-index:7;
      }
      &.cur{
        background-color:@mainColor;
        color:@mainTextColor;
        cursor:default;
        font-size:0.14rem;
        z-index:10;
      }
    }
    .state{
      position:absolute;
      top:0.02rem;
      right:0.05rem;
      display:block;
      height:0.24rem;
      line-height:0.24rem;
      padding:0 0.1rem;
      background:@mainColor;
      border-radius:0.24rem;
      color:@thirdTextColor;
    }
  }
  &.t11 .sel{
    margin-top:0.1rem;
  }
  h5{
    padding:0 0.2rem;
    line-height:0.24rem;
    color:@thirdTextColor;
    font-size:0.12rem;
    font-weight:400;
    background:@mainColor;
  }
  pre{
    margin:0;
  }
  .app{
    position:fixed;
    left:0;
    bottom:0;
    padding-top:30.75%;
    width:100%;
    height:0;
    z-index:100;
    &:before{
      position:absolute;
      left:0;
      bottom:0;
      width:31%;
      height:100%;
      background:url(char.png) no-repeat 0 center;
      background-size:contain;
      content:' ';
      z-index:10;
    }
    &:after{
      position:absolute;
      left:31%;
      bottom:6%;
      width:0.26rem;
      height:0.34rem;
      background:url(logo.png) no-repeat 0 center;
      background-size:contain;
      content:' ';
      z-index:10;
    }
    .txt{
      position:absolute;
      left:0;
      bottom:0;
      display:flex;
      align-items:center;
      padding-left:38%;
      box-sizing:border-box;
      width:100%;
      height:0.5rem;
      background:linear-gradient(90deg, #D5E9F6, #8BBDE1);
      div{
        flex:1;
        color:#FFF;
        text-align:center;
        h4{
          font-size:0.14rem;
        }
        p{
          font-size:0.1rem;
          white-space:nowrap;
        }
      }
      a{
        width:0.5rem;
        height:0.24rem;
        line-height:0.24rem;
        background:#FFF;
        border-radius:0.05rem;
        text-align:center;
        color:#8BBDE1;
        font-size:0.14rem;
      }
    }
  }
}

img.temp{
  display:block;
  position:absolute;
  left:1000%;
  top:-9999rem;
  visibility:hidden;
}

h1.private{
  text-align:center;
  line-height:3;
}
